/* web-width */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* For all */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%
}
#wrapper {
  overflow: hidden;
}

/* For header */
#header {
  position: relative;
  padding: 35px 0 25px 0;
}
.holder {
  font-family: "微軟正黑體";
  max-width: 1040px;
  margin: 0 auto;
}
.logo {
  margin: 3px;
  float: left;
  font-size: 30px;
  font-weight: 700;
  color:#33CCFF;
}
.nav-holder {
  float: left;
  padding: 20px 0 0;
  }
#nav {
  display: block;
  }
  .nav-option{
  text-align: right;
  }
#nav ul li {
  list-style:none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  position: relative;
  letter-spacing: 2px;
  display: block;
  vertical-align: top;
  margin-left: 15px;
  padding: 4px 0 4px 20px;
  text-align: left;
}
#nav ul li a {
  padding: 1px 6px;
  border-radius: 6px;
  text-decoration: none;
  color: #1677CB;
  display: block;
  transition: color 0.4s ease;
}
#nav ul li a:hover {
  background-color: #33CCFF;
  color: white;
  border-radius: 6px;
}
#bs-example-navbar-collapse-1 .navbar-nav {
  margin: 7.5px -15px;
}
.option-style {
    border-left: solid 3px #33CCFF;
    }

/* For article web-wrap */
.web-wrap {
  background-image: url(../img/background-castle.jpg);
  border:solid 10px #33CCFF;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 570px;
}
.web-text {
  color: #33CCFF;
  vertical-align: middle;
  padding: 20px 0;
}
.web-info {
  margin-bottom: 62px;
}
.web-info .title{
  font-size: 42px;
  line-height: 1.4em;
  margin: 0 0 45px;
  letter-spacing: 4px;
  font-weight: 700;
  display: block;
}
.web-info .slogan{
  letter-spacing: 5px;
  margin: 0 0 41px;
  line-height: 1.4em;
  font-size: 40px;
  font-weight: 700;
}
.web-info .sub-title {
  font-size: 24px;
  line-height: 46px;
  font-weight: 700;
  letter-spacing: 2px;
}
.btn-style {
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 5px;
  font-weight: 500;
  background: #33CCFF;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border-radius: 10px;
  padding: 20px 48px;
  transition: 0.4s ease;
}
.btn-style:visited {
  background: #33CCFF;
  color: white;
  text-decoration: none;
}
.btn-style:hover {
  background-color: #1677CB;
  color: white;
  text-decoration: none;
}

/* For article testimonial */
#testimonial-block-wrap {
  padding: 147px 0 0;
}
.article-heading {
  text-align: center;
  margin: 0 0 30px;
  letter-spacing: 5px;
  font-weight: 700;
}
.title-style {
  font-size: 48px;
  line-height: 52px;
  font-weight: 700;
}
.title-style i{
  color:#33CCFF;
  margin:0 10px;
}
.testimonial-block-holder {
  padding-bottom: 158px;
  position: relative;
  display: block;
}
.testimonial-block-holder:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: #33CCFF;
  max-width: 1020px;
  margin: 0 auto;
  border-radius: 2px;
}
.testimonial-block-info {
  padding: 0;
  height: auto;
}
.testimonial-block-img-holder {
  width: 230px;
  height: 230px;
  border-width: 8px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.testimonial-block-img-holder img {
  border: 5px solid #33CCFF;
  border-radius: 50%;
  overflow: hidden;
}
.testimonial-block-text-holder {
  padding: 0 0 0 59px;
  display: inline-block;
  vertical-align: middle;
}
.personal-style {
  position:relative;
  letter-spacing: 3px;
  font-size: 20px;
  line-height: 32px;
  padding: 0 0 24px;
  margin: 0 0 12px;
  font-weight: 500;
  display: block;
}
.personal-style span {
  display: block;
  text-transform: uppercase;
  }
.personal-style:after {
  left: 0px;
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 30px;
  border-radius: 2px;
  background: #33CCFF;
  content: '';
    }
.content-style {
  font-size: 24px;
  line-height: 41px;
  font-weight: 700;
  letter-spacing: 1px;
}

/*For atrticle service*/
#service-block-wrap {
  text-align: center;
}
#service-block-wrap .holder {
  padding: 107px 0px 79px;
  position: relative;
}
.service-list {
  margin: 0 0 54px;
  max-width: none;
  padding: 0;
  list-style: none;
}
#service-block-wrap .service-list > li {
    padding: 0 0;
    margin-bottom: 50px;
    overflow: hidden;
    text-align: left;
    position: relative;
}
#service-block-wrap .service-list .text-holder {
  text-align: left;
  font-size: 20px;
  line-height: 32px;
  padding: 0 0 0 103px;
  min-height: 235px;
  float: right;
  letter-spacing: 4px;
  font-weight: 500;
}
.h3-style {
  font-size: 32px;
  line-height: 41px;
  font-weight: 700;
  color: #33CCFF;
  margin: 0 0 15px;
}
#service-block-wrap .img-holder {
  height: 254px;
  width: 40%;
  max-width: none;
  left: 32px;
  position: absolute;
  top: 50%;
  margin: 0;
  transform: translateY(-50%);
  text-align: left;
}
#service-block-wrap .service-list ul {
  text-align: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
#service-block-wrap .service-list ul li {
  margin: 0;
  padding-left: 28px;
  position: relative;
}
#service-block-wrap .service-list ul li:before {
  top: 13px;
  width: 6px;
  height: 6px;
  left: 10px;
  content: '';
  position: absolute;
  border-radius: 50%;
  background: #000;
}
#service-block-wrap .service-list > li.pull-right .text-holder {
  padding: 0 80px 0 0;
  float: left;
}
#service-block-wrap .service-list > li.pull-right .img-holder {
  float: left;
  height: 220px;
  left: auto;
  right: 50px;
  top:50%;
  text-align: right;
}
#service-block-wrap .holder:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  height: 5px;
  border-radius: 2px;
  background: #33CCFF;
}

/*For article smallinfo*/
#small-info-wrap {
  text-align: center;
}
#small-info-wrap .holder {
  padding: 82px 10px 47px;
  position: relative;
  overflow: hidden;
}
#small-info-wrap ul {
 margin: 0 0 54px;
 max-width: none;
 padding: 0;
 list-style: none;
}
#small-info-wrap ul li {
  float: left;
  padding: 0 10px;
  margin: 0 0 20px;
}
#small-info-wrap .h3-style {
  height: 82px;
  margin: 0 0 46px;
  white-space: nowrap;
  text-align: center;
  min-height: 100%;
}
#small-info-wrap .img-holder {
  max-width: none;
  margin: 0 0 33px;
  text-align: center;
}
#small-info-wrap .holder:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  height: 5px;
  border-radius: 2px;
  background: #33CCFF;
}

/* For article process */
#process-wrap .holder {
  padding: 88px 0 141px;
  position: relative;
}
.process-list {
 margin: 0;
 padding: 0;
 list-style: none;
}
.process-list li {
 height: 546px;
 float: left;
 padding: 0 50px 107px;
 margin: 0 0 19px;
 text-align: center;
 position: relative;
}
#process-wrap .h3-style {
  margin-bottom: 42px;
  margin: 0 0 35px;
  font-size: 32px;
  line-height: 41px;
  font-weight: 700;
  color: #33CCFF;
}
#process-wrap .img-holder {
  height: 173px;
  min-height: 0;
  max-width: none;
  margin: 0 0 33px;
  white-space: nowrap;
}
.process-list .text-holder {
  margin: 0;
  padding: 0;
  float: none;
  overflow: hidden;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
  letter-spacing: 2px;
}
#process-wrap .process-list li.pull-right {
    float: right;
}
.process-list li:first-child:after {
    font-size: 50px;
    line-height: 1;
    content: '➤';
    position: absolute;
    top: 37%;
    right: -20px;
    color: #1677CB;
    transform: translateY(-50%);
}
.process-list li:nth-child(even):after {
  font-size: 50px;
  margin: 0 -45px 0 0;
  bottom: 50px;
  line-height: 1;
  content: '➤';
  position: absolute;
  right: 50%;
  color: #1677CB;
  transform: translateX(-50%) rotate(90deg);
}
.process-list li:nth-child(3):after {
    font-size: 50px;
    line-height: 1;
    content: '➤';
    position: absolute;
    top: 37%;
    left: -13px;
    color: #1677CB;
    transform: translateY(-50%)rotate(180deg);
}
.process-list li:nth-child(5):after {
    font-size: 50px;
    line-height: 1;
    content: '➤';
    position: absolute;
    top: 37%;
    right: -20px;
    color: #1677CB;
    transform: translateY(-50%);
}
.process-list li:nth-child(7):after {
    font-size: 50px;
    line-height: 1;
    content: '➤';
    position: absolute;
    top: 37%;
    left: -13px;
    color: #1677CB;
    transform: translateY(-50%)rotate(180deg);
}
.process-list li:nth-child(9):after {
    font-size: 100px;
    line-height: 1;
    content: '=';
    position: absolute;
    top: 30%;
    right: -20px;
    color: #1677CB;
    transform: translateY(-50%);
}

/* For footer */
#footer {
  clear: both;
  padding-bottom: 60px;
  display: block;
}
#footer .holder {
    padding: 31px 22px 60px;
    position: relative;
}
#footer .holder:before {
 content: '';
 position: absolute;
 top: 0;
 left: 15px;
 right: 15px;
 border-radius: 6px;
 height: 4px;
 background: #33CCFF;
}
.contact-info {
 font-size: 20px;
 line-height: 38px;
 padding: 20px 0 0;
 float: left;
 letter-spacing: 2px;
 margin: 0;
 font-weight: 500;
}
.contact-info .h3-style {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 32px;
  color: #3A3A3A;
}
.contact-text {
  padding: 0;
  list-style: none;
  font-size: 20px;
  line-height: 38px;
  font-weight: 500;
}
.social-networks {
 float: right;
 position: static;
 right: 17px;
 top: 31px;
 margin: 0;
 padding: 0;
 list-style: none;
}
.social-networks li {
 font-size: 30px;
 text-align: right;
 display: block;
}
.btn-fb {
 color: white;
 padding: 0 10px;
 background-color: #1677CB;
 transition: color 0.4s ease;
 text-decoration: none;
 border-radius: 5px;
}
.btn-fb:visited{
  background-color: #1677CB;
  color: white;
  text-decoration: none;
}
.btn-fb:hover {
 color: white;
 background-color: #33CCFF;
}
.button{
 font-size: 26px;
 font-weight: 500;
 background: #33CCFF;
 text-decoration: none;
 color: #fff;
 border-radius: 10px;
 padding: 10px 15px;
 transition: 0.4s ease;
 position: fixed;
 bottom: 80px;
 right: 20px;
 opacity: 0.7;
}
.button:hover {
  background-color: #1677CB;
  color: white;
  text-decoration: none;
}

/*For article billing-wrap*/
 .billing-wrap .holder {
  padding: 60px 10px;
  position: relative;
  max-width: 1040px;
  margin: 0 auto;
}
.billing-wrap .tabset {
  padding: 0;
  margin: 0px auto 100px;
  max-width: none;
  display: block;
  text-align: center;
  letter-spacing: -6px;
  border: 8px solid #33CCFF;
  border-radius: 15px;
  list-style: none;
}
.billing-wrap .tabset li {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 5px;
  padding: 6px 8px;
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
  position: relative;
}

.tab-holder {
  padding:60px 0 0 0;
}
.tab-content {
  position: relative;
}

/*For article billing-footer*/
.billing-footer {
  overflow:hidden;
}
.billing-footer-text{
font-size: 20px;
line-height: 36px;
margin: 0 0 45px;
font-weight: 400;
letter-spacing: 1px;
max-width: 670px;
}

/*For article price-details*/
.price-details , .M-price-details {
  padding: 20px 0;
}
.price-holder {
  margin: 0 0 147px;
  display: block;
}
.price-table {
  text-align: center;
  margin: 0 0 20px;
  overflow:hidden;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.price-table th {
  font-size: 28px;
  line-height: 40px;
  padding: 15px 10px;
  vertical-align: bottom;
  font-weight: 700;
  border-bottom: solid 4px #33CCFF;
  text-align: center;
  height: 93px;
}
.price-table th:first-child {
  text-align: left;
}
.price-table th .img {
  display: block;
  text-align: center;
  margin: 0 0 15px 0;
}
.pricr-table tr {
  vertical-align: middle;
}
.price-table td {
  font-size: 20px;
  line-height: 24px;
  vertical-align: middle;
  border-bottom: solid 2px #33CCFF;
  padding: 20px 10px;
  height: 93px;
}
.price-table td:first-child {
  text-align: left;
}
.price-table tbody tr:last-child td:first-child {
  position: relative;
}
.price-table tbody tr:last-child td:first-child:after {
    bottom: 0;
    content: "";
    height: 2px;
    left: -9999px;
    margin: 0 auto;
    position: absolute;
    right: -9999px;
    border: double 4px #33CCFF;
}
.price-table tbody:last-child tr:last-child td:first-child:after {
  border: 0;
}
.price-table tbody tr:last-child td {
  border-bottom: none;
}
.price-table tbody:last-child tr:last-child {
  border-bottom: 4px solid #33CCFF;
}
.price-note {
  margin: 0 0 25px 0;
  list-style-type: none;
}
.price-note > li {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  margin: 0 0 10px 0;
}
.btn-holder {
  text-align: center;
}
.btn-style2 {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
  font-weight: 500;
  background: #33CCFF;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  transition: 0.4s ease;
}
.btn-style2:visited {
  background: #33CCFF;
  color: white;
  text-decoration: none;
}
.btn-style2:hover {
  background-color: #1677CB;
  color: white;
  text-decoration: none;
}

/*For price-services*/
.price-services {
  font-family: "微軟正黑體";
  margin: 0 auto 70px;
  max-width: 670px;
  padding: 0 15px;
  counter-reset: num-count1;
}
.price-services .title {
  font-size: 32px;
  line-height: 36px;
  padding: 0 0 25px 0;
  display: block;
  position: relative;
  color: #1677CB;
  font-weight: 700;
  text-align: center;
  border-bottom: solid 3px #33CCFF;
  margin: 0 0 29px 0;
}
.price-services .title i {
  color: red;
}
.price-services li {
  font-size: 24px;
  line-height: 52px;
  position: relative;
  list-style-type: none;
}
.price-services li:before {
  content: counter(num-count1) ".";
  counter-increment: num-count1;
  position:absolute;
  top:0;
  left:-29px;
}
.mobile-table ul {
  padding: 0;
  margin: 0;
}
.mobile-table li {
  list-style-type: none;
  display: inline-block;
}

/*For article faq-wrap*/
.faq-wrap {
  padding: 0;
}
.faq-wrap .faq-title {
  font-size: 48px;
  line-height: 52px;
  letter-spacing: 5px;
  margin: 40px 0 75px;
  font-weight: 700;
  color: #3A3A3A;
  display: block;
  text-align: center;
}
.faq-section-title {
  margin-top: 64px;
  margin: 48px 0 24px 0;
  font-size: 32px;
  font-weight: 700;
  color: #33CCFF;
}
.faq-wrap .faq-title i {
  color: #33CCFF;
  padding-right: 10px;
  position: relative;
}
.faq-wrap .faq-title i::after {
  content: 'A';
  position: absolute;
  color: red;
  left:40px;
  bottom: -15px;
  font-weight: 700;
}
.faq-section-title {
  position: relative;
}
.faq-accordin {
  list-style-type: none;
  padding: 0px;
}
.faq-accordin li {
  margin: 0 0 30px 0;
}
.faq-q .faq-subtitle {
  padding: 0 87px 0 50px;
  font-size: 20px;
  line-height: 51px;
  font-weight: 700;
  letter-spacing: 1px;
  position: relative;
  display: block;
}
.faq-q .faq-subtitle:before {
  content: 'Q :';
  position: absolute;
  color: #33CCFF;
  left:5px;
  top:10px;
  font-size: 28px;
  line-height: 25px;
}
.faq-a {
  padding: 0 0 0 50px;
  margin-top:30px;
  font-size: 20px;
  line-height: 36px;
  position: relative;
  display:none;
}
.faq-a:before {
  content: 'A :';
  position: absolute;
  color: red;
  left:7px;
  top:4px;
  font-size: 28px;
  line-height: 25px;
}

/* For mobile phones */
@media only screen and (max-width: 768px) {

/* For all */
    [class*="col-"] {
        width: 100%;
    }

/* For header */
    #nav ul{
      padding: 0px;
      text-align: center;
    }
/* For article web-wrap */
    #article .web-wrap {
      height: 315px;
      border-width: 5px;
    }
    .holder {
      text-align: center;
    }
    .holder .web-info {
      margin-bottom: 24px;
    }
    .holder .web-info .title {
      font-size: 19px;
      line-height: 1.5em;
      font-weight: 700;
      text-transform: capitalize;
      display: block;
      margin: 0 0 23px;
      letter-spacing: 2px;
    }
    .holder .web-info .slogan {
      letter-spacing: 2px;
      line-height: 36px;
      margin-bottom: 20px;
      font-size: 25px;
      font-weight: 700;
      margin: 0 0 15px 0;
    }
    .holder .web-info .sub-title {
      font-size: 16px;
      line-height: 25px;
      font-weight: 700;
      letter-spacing: 2px;
    }
    .holder .btn-style {
      font-size: 20px;
      padding: 10px 20px;
      line-height: 24px;
      font-weight: 500;
    }

/* For article testimonial */
    #testimonial-block-wrap {
      padding:  48px 0 0 0;
    }
    .article-heading {
      margin: 0 0 15px;
    }
    .article-heading .title-style {
      font-size: 28px;
      line-height: 32px;
      letter-spacing: 2px;
    }
    .testimonial-block-holder {
    padding: 0 15px 34px 15px;
    }
    .testimonial-block-img-holder {
    height: 160px;
    }
    .testimonial-block-img-holder {
      max-width: 160px;
    }
    .testimonial-block-text-holder {
      text-align: left;
      padding: 0;
      display: inline-block;
      vertical-align: middle;
    }
    .personal-style {
      font-size: 15px;
      line-height: 24px;
      font-weight: 500;
      padding: 0 0 18px;
      display: block;
      margin: 0 0 10px;
    }
    .content-style {
      font-size: 18px;
      line-height: 31px;
    }

/*For atrticle service*/
    #service-block-wrap .service-list ul {
      font-size: 15px;
      line-height: 24px;
      letter-spacing: 2px;
      padding-top: 150px;
    }
    #service-block-wrap .service-list .text-holder {
      float: left;
      text-align: center;
      padding: 0px;
    }
    #service-block-wrap .service-list {
    margin: 0 auto 20px;
    max-width: 320px;
      }
      #service-block-wrap .service-list > li.pull-right .text-holder {
      padding:0;
      float: none;
      height: initial;
    }
    #service-block-wrap .img-holder {
      width: 200px;
      left: 64px;
      }

/*For article smallinfo*/
    .h3-style {
      height: 56px;
      margin: 0 0 8px;
      font-size: 24px;
      line-height: 28px;
    }
    #small-info-wrap .img-holder {
      max-width: 138px;
      margin: 0 auto 33px;
    }

/*For article process */
    #process-wrap .h3-style {
      font-size: 24px;
      line-height: 28px;
      font-weight: 700;
      margin-bottom: 42px;
    }
    #process-wrap .img-holder {
    white-space: nowrap;
    margin: 0 auto 9px;
    max-width: 210px;
    }
    .process-list .text-holder {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0px;
    }
    .process-list li:first-child:after {
        top: 72%;
        right: 43%;
        transform: translateX(-50%) rotate(90deg);
    }
    .process-list li:nth-child(3):after {
        top: 72%;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
    }
    .process-list li:nth-child(5):after {
        top: 72%;
        right: 43%;
        transform: translateX(-50%) rotate(90deg);
    }
    .process-list li:nth-child(7):after {
        top: 72%;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
    }
    .process-list li:nth-child(9):after {
        top: 72%;
        right: 39%;
        transform: translateX(-50%) rotate(90deg);
    }
    .contact-info .h3-style {
    margin: 0;
    }

/* For footer */
    #footer .contact-text {
      text-align: left;
      font-size: 16px
    }
    #footer .social-networks {
      position: absolute;
      right: 17px;
      top: 31px;
    }

/*For atrticle service*/
    .price-services li {
    font-size: 15px;
    line-height: 29px;
    }

/*For article price-details*/
    .price-details .price-table,.price-details .price-note,.price-details .btn-holder {
      display: none;
    }

/*For article faq-wrap*/
    .faq-wrap .faq-title {
    font-size: 25px;
    line-height: 39px;
    margin: 30px 0 40px;
    text-align: center;
    }
    .faq-wrap .faq-title i::after {
    left: 25px;
    }
    .faq-wrap > .holder {
      text-align: left;
    }
    .faq-accordin li {
    margin: 0 0 15px 0;
    }
    .faq-q .faq-subtitle {
      font-size: 16px;
      line-height: 25px;
      padding: 0 32px;
    }
    .faq-q .faq-subtitle:before {
      font-size: 16px;
      line-height: 25px;
      top:-3px;
    }
    .faq-a {
      padding: 0 0 0 30px;
      font-size: 16px;
      line-height: 25px;
      font-weight: 400;
      margin: 20px 0 20px 0;
    }
    .faq-a:before {
      top: -1px;
      left: 6px;
      font-size: 16px;
      line-height: 25px;
    }
}
@media screen and (min-width:768px) and (max-width:1024px){

/* For header */
  #nav ul li {
    font-size: 16px;
    line-height: 20px;
    margin-left:9px;
  }

/* For article web-wrap */
  .web-wrap {
    height: 450px;
  }
  .holder .web-info .title {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 4px;
  }
  .holder .web-info .slogan {
  letter-spacing: 2px;
  line-height: 36px;
  margin-bottom: 20px;
  font-size: 35px;
  }
  .holder .web-info .sub-title {
    font-size: 16px;
    line-height: 34px;
  }
  .holder .btn-style {
    font-size: 24px;
    padding: 15px 25px;
    line-height: 28px;
    font-weight: 500;
  }
  .h3-style {
    font-size: 24px;
    line-height: 28px;
  }

/*For atrticle service*/
  #service-block-wrap .img-holder {
    top:60%;
    max-width: 250px
  }
  #service-block-wrap .service-list ul {
    font-size: 18px;
    line-height: 30px;
    padding: 0;
  }
  #service-block-wrap .service-list > li.pull-right .img-holder {
    top:60%;
  }

/* For article testimonial */
  #testimonial-block-wrap {
    padding:  48px 0 0 0;
  }
  .article-heading {
    margin: 0 0 15px;
  }
  .article-heading .title-style {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 2px;
  }
  .testimonial-block-holder {
  padding: 0 0 34px 0;
  }
  .testimonial-block-img-holder {
  height: 160px;
  }
  .testimonial-block-img-holder {
    max-width: 160px;
  }
  .testimonial-block-text-holder {
    text-align: left;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
  }
  .personal-style {
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 0 18px;
    display: block;
    margin: 0 0 10px;
  }
  .content-style {
    font-size: 18px;
    line-height: 31px;
  }
  /*For article price-details*/
  .price-table th {
    font-size: 20px;
  }
  .price-table td {
    font-size: 16px;
  }
  .btn-style2 {
    font-size: 12px;
  }
}
@media screen and (max-width:320px){
  body{
		width: 320px;
	}
}
@media screen and (min-width:768px){
  .M-price-details{
		display: none;
	}
}

/*For article price-details Mobile*/
.M-price-details .M-price-heading {
    padding: 0 0 10px;
    border-bottom: 3px solid #33CCFF;
    list-style: none;
    margin: 0;
}
.M-price-details .M-price-heading > li {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 0 5px;
}
.M-price-details .price-accordion {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
}
.M-price-details .price-accordion > li {
    border-bottom: 1px solid #d8d7d5;
}
.M-price-list {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    display: block;
    color: #33CCFF;
    padding: 15px 0;
    position: relative;
}
.M-price-details .M-price-list .M-price-details {
  display: none;
}
.M-price-details .M-price-list .title {
  font-size: 16px;
  line-height: 20px;
  padding: 0 5px 0 15px;
}
.M-price-details .M-price-list span {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}
.M-price-details .M-price-list .M-price-details {
  background: #f2f0e4;
  margin: 5px -15px;
  padding: 20px;
}
.M-price-details .M-price-list .M-price-details .btn-holder {
    margin: 0 0 20px;
}
.M-price-details .M-price-list .M-price-details ul {
  list-style: none;
}
.M-price-details .M-price-list .M-price-details ul li {
    font-size: 15px;
    line-height: 25px;
    margin: 0 0 10px;
    position: relative;
    padding: 0 0 0 33px;
    text-align: left;
}
.M-price-details .M-note-list {
    margin: 0 0 25px;
    padding: 0;
    list-style: none;
}
.M-price-details .M-note-list > li {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    margin: 0 0 10px 20px;
    text-align: left;
}
